body {
    background: #f4f0ec;
font-family: 'Oswald', sans-serif;
/*font-family: 'Gruppo', cursive;
font-family: 'Montserrat Alternates', sans-serif;
font-family: 'Redressed', cursive;
font-family: 'Roboto Mono', monospace;*/

overflow:scroll
}

.index {
    width: 100vw;
    height: 100vh;
}

.navbar {
    background: black !important;
}

.nav-link {
    color: #fff !important;
}

.masthead {
    color: white;
    min-height: 30rem;
    width: 100%;
    height: 100%;
    padding-top: 8rem;
    padding-bottom: 8rem;
    background: url('/img/background.jpeg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.masthead h1 {
    font-size: 4rem;
    margin: 0;
    padding: 0;
  }
  
  @media (min-width: 992px) {
    .masthead {
      height: 100vh;
    }
    .masthead h1 {
      font-size: 5.5rem;
    }
  }

  /*____________________barra lateral*____________________*/

  #contenedorprincipal .card, .ch1
  {
   
    width: 80rem;
    margin: 0;
    margin: auto;
  }
  #tarjetaspreguntas #publicar
  {
    width: 10rem;
    font-size: 12px;
  }
  .contenedorrespuestas 
  {
    width: 80rem;
    margin: 0;
    margin: auto;
  }
 #etiquetas button
 {
   width: 5rem;
 }
 #tarjetaspreguntas .btn{
   font-size: 10px;
   width: 3rem;
 }
 #tarjetaspreguntas img{
   
  width: 26rem;
  height: 20rem;
   margin: 0;
   margin: auto;
   display: flex;
 }
 #tarjetaspreguntas .imagendef{
   height: 1.5rem;
   width: 1.5rem;
  display: flex;
  float: right;
 }
 #perfil img{
   width: 12rem;
   border-radius: 180px ;
   border:10px solid #ffff00;
 }
 #miperfil .card-body
 {
   margin: 0;
   margin: auto;
    float: center;
 }
.contperfil
{
  background-color: #a9a9a9;
}
.calificar-like button
{
  display: flex;
  display:inline-block;
  float: right;
  margin-right: 10px;
}
.calificar-like button:hover
{
  color: #00bfff;
}
#respuestasperfil img{
  width: 18rem;
}
.buscador input
{
  width: 40rem;
  border-radius: 10px;
  
}
#perfilescard{
  border-radius: 90rem;
  border:10px solid #ffff00;

}
#perfilescard img{
  margin: 0;
  margin: auto;
  padding: 0;
  display: flex;
  width: 8rem;
  border-radius: 90rem;
}
#card-principalperfil
{
  background-color: white;
  margin: 0;
  margin: auto;
}
#listpreguntas li{
  font-size: 10px;
  height: 2rem;
  float: left;
}

#listpreguntas .fas{
  display: block;
  display: inline-block;
  float: right;
  margin-bottom: 10px;
  margin-right: 10px;
  text-decoration: none;
}
#listpreguntas .fas:hover{
  color:#ffff00;
}
.action
{
  background-color: white;
}

#tituloresponder h5
{ 
  font-size: 1.5rem;
}
/*#imagenpregunta img{
  margin: 0;
  margin: auto;
  display: flex;
  align-items: center;
}*/
