<div class="container-fluid">
    <h2 class="text-center">Etiquetas</h2>
    <p>Una etiqueta es una palabra clave o un rótulo que categoriza tu pregunta con otras preguntas similares. El uso de las etiquetas correctas
         facilita que otros encuentren tu pregunta y la respondan.</p>
<div class="row">
    <div class="col-12 col-md-3">
                <div class="card" style="width: 15rem;" id="etiquetas">
                <button type="button" class="btn btn-info">Java script</button>
                <div class="card-body">
                    <p class="card-text">JavaScript (no confundir con Java) es un lenguaje de programación. Utiliza esta etiqueta 
                        para referirte a ECMAScript (JavaScript/JS)</p>
                 </div>
        </div>
    </div>

    <div class="col-12 col-md-3">
        <div class="card" style="width: 15rem;" id="etiquetas">
            <button type="button" class="btn btn-info">PHP</button>
            <div class="card-body">
             <p class="card-text">PHP es un lenguaje de 'scripting' de propósito 
                general y de código abierto que está especialmente pensado para el desarrollo web.</p>
            </div>
            </div>
        </div>


         <div class="col-12 col-md-3">
        <div class="card" style="width: 15rem;" id="etiquetas">
            <button type="button" class="btn btn-info">C#</button>
            <div class="card-body">
             <p class="card-text">Es un lenguaje de programación multiparadigma 
                 de alto nivel, de tipo estático, desarrollado por Microsoft</p>
            </div>
            </div>
        </div>

         <div class="col-12 col-md-3">
        <div class="card" style="width: 15rem;" id="etiquetas">
            <button type="button" class="btn btn-info">Android</button>
            <div class="card-body">
             <p class="card-text">Android es el sistema operativo móvil de Google, utilizado para programar o desarrollar dispositivos digitales.</p>
            </div>
            </div>
        </div>
    </div>
    </div>

    

</div>