<div class="container p-4">
  <div class="row">
    <div class="col-md-4 mx-auto">
      <div class="card text-center">
        <div class="card-header">
          <h3>Actualizar datos de usuarios</h3>
        </div>
        <img src="/img/login.png" class="card-img-top mx-auto m-2 rounded-circle w-50">
        <div class="card-body">
          <form action="/editarperfil" method="POST" enctype="multipart/form-data">
            <div class="form-group">
              <input type="type" name="fullname" value="{{datos.fullname}}" placeholder="Nombre completo" class="form-control" autofocus>
            </div>
            <div class="form-group">
              <input type="password" name="password" value="{{datos.password}}" placeholder="Contraseña" class="form-control">
            </div>
             <div class="form-group">
            <label for="exampleFormControlFile1">Incluye la imagen para tu perfil</label>
            <input type="file" class="form-control-file" value="{{datos.imagen}}" name="imagen" id="exampleFormControlFile1">
            </div>
            <div class="form-group">
              <button class="btn btn-secondary btn-block">
               Actualizar
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>