<div class="container p-4" id="login">
  <div class="row">

    <div class="col-md-4 mx-auto">
      <div class="card text-center">
        <div class="card-header">
          <h3>Inicia sesión</h3>
        </div>
        <img src="/img/login.png" class="card-img-top mx-auto m-2 rounded-circle w-50">
        <div class="card-body">
          <form action="/signin" method="POST">
            <div class="form-group">
              <input type="text" name="username" placeholder="Nombre de usuario" class="form-control" autofocus>
            </div>
            <div class="form-group">
              <input type="password" name="password" placeholder="Contraseña" class="form-control">
            </div>
            <button class="btn btn-secondary btn-block">
              Iniciar sesión
            </button>
          </form>

        </div>
      </div>
    </div>
  </div>
</div>

