<div class="container-fluid" id="contenedorprincipal">
    <h2 class="text-center">Usuarios</h2>
   <div class="row" id="card-principalperfil" >
       {{#each usuarios}}
       <div class="col-12 col-md-4 col-lg-4 mt-2 mb-4" >
           
                 <div class="card" style="width: 16rem; height:16rem;" id="perfilescard">
                    <img src="/img/{{imagen}}" class="card-img-top" alt="...">
                    <div class="card-body">
                    <b><p class="card-text text-center" style="font-size: 21px;">{{fullname}}</p></b> 
                    <small><p class="card-text text-center" style="font-size: 15px;">{{username}}</p></small> 
                     </div>
                    </div>
       </div>
       {{/each}}
   </div>
</div>