<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="/">
      <i class="fas fa-user-astronaut"></i> Stack Res
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <form action="/" method="GET" class="buscador">
       <input class="form-control mr-sm-2" name="buscar" type="search" placeholder="Buscar" aria-label="Search">
       
      </form>
          
      <ul class="navbar-nav ml-auto">
        {{#if user}}
       
        <li class="nav-item">
          <a class="nav-link" href="/">Inicio</a>
        </li>
         <li class="nav-item">
          <a class="nav-link" href="/profile">Perfil</a>
        </li>
         <li class="nav-item">
          <a class="nav-link" href="/Stack/hacerpregunta">Preguntar</a>
        </li>
       
        {{else}}
        <li class="nav-item mr-2">
          <a class="btn btn-light" href="/signin">Iniciar sesión</a>
        </li>
        <li class="nav-item">
          <a class="btn btn-primary" href="/signup">Registrarse</a>
        </li>
        {{/if}}
        <a class="nav-link" href="/etiquetas">Etiquetas</a>
        <a class="nav-link" href="/usuarios">Usuarios</a>
        {{#if user}}
         <li class="nav-item">
          <a class="nav-link" href="/logout">Salir</a>
        </li>
         {{/if}}
      </ul>
    </div>
  </div>
</nav>
