
<div class="container-fluid" id="contenedorprincipal">
  <div class="row">
    <div class="col-12 col-md-12 col-lg-12">
           <h2 class="text-center">Explora nuestras preguntas</h2>
             {{#each preguntas}}
        <div class="list-group" id="listpreguntas">
          <a href="/stack/responder/{{id}}" class="list-group-item list-group-item-action">
            <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">{{titulo}}</h5>
          <small><img class="imagendef" src="/img/default.png">{{usuariop}}</small>
          </div>
            <small><li style="font-size: 10px;" type="button" class="btn btn-info">{{categoria}}</li></small>
          </a>
        </div>
        <hr>
        {{/each}}
 
    </div>
  </div>
</div>

