<div class="container-fluid" id="contenedorprincipal">
   <div class="row" id="card-principalperfil" >
          <div class="col-12 col-md-12 col-lg-12" id="miperfil">
                  <div class="card-body text-center" id="perfil">
                         <img src="/img/{{user.imagen}}">  <h3>{{user.fullname}}</h3>
                         <i class="fa fa-user-pen"></i>
                         <a href="/editarperfil" class="fa fa-highlighter"></a>
                         <span class="badge badge-pill badge-light">Preguntas <span class="badge badge-light">{{contar.contarmispreguntas}}</span></span>
                         <span class="badge badge-pill badge-light">Respuestas <span class="badge badge-light">{{contarr.contarmisrespuestas}}</span></span>       

                  </div>
          </div>
   </div>

    <h2 class="text-center">Mis preguntas</h2>
    <div class="row" >
          
              <div class="col-12 col-md-12 col-lg-12 mt-4">
                       {{#each preguntas}}
                            <div class="list-group" id="listpreguntas">
                                   <div class="action">
                                   <a href="/stack/eliminar/{{id}}" class="fas fa-trash ml-2"></a>
                                   <a  href="/stack/editar/{{id}}" class="fas fa-pen"></a>
                                   </div>
                                   
                            <a href="/stack/responder/{{id}}" class="list-group-item list-group-item-action">
                             
                            <div class="d-flex w-100 justify-content-between">
                             <h5 class="mb-1">{{titulo}}</h5> 
                            <small><img class="imagendef" src="/img/default.png">{{usuariop}}</small> 
                            </div>
                            <small><li style="font-size: 10px;" type="button" class="btn btn-info">{{categoria}}</li></small>
                            </a>
                            </div>
                             <hr>
                      {{/each}}
                        
               </div>
    </div>

    <h2 class="text-center">Mis Respuestas</h2>
    <div class="row" >
          
              <div class="col-12 col-md-12 col-lg-12 mt-4">
                      {{#each respuestas}}
                            <div class="list-group" id="listpreguntas">
                                    <div class="action">
                                   <a href="/stack/eliminarespuesta/{{idr}}" class="fas fa-trash ml-2"></a>
                                   </div>
                            <a href="/stack/responder/{{id}}" class="list-group-item list-group-item-action">
                            <div class="d-flex w-100 justify-content-between">
                             <h5 class="mb-1">{{titulo}}</h5>
                              </div>
                            <div class="card mt-4" style="width: 18rem;">
                            <div class="card-body">
                            <b><p class="card-text text-center">{{respuesta}}</p></b>
                            </div>
                            <hr style="background-color: #efcc00">
                            <img src="/img/{{imagen}}" class="card-img-top" alt="...">
                            </div>
                           
                            </a>
                            </div>
                             <hr>
                      {{/each}}
                        
               </div>
    </div>



</div>
            
   

   
