
<div class="container-fluid" id="contenedorprincipal">
  
    <div class="row" >
          <h2 class="ch1 mb-4 mt-4 text-center">Actualizar datos de pregunta</h2>
        <div class="col-12 col-md-12 col-lg-12" id="card-principalperfil">
            <div class="card-body" id="tarjetaspreguntas">
                     <form action="/stack/editar/{{r.id}}"  method="POST" enctype="multipart/form-data">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Titulo</label>
                        <p><small>Sé específico e imagina que estás haciendo la pregunta a otra persona</small></p> 
                            <input type="text" name="titulo" value="{{r.titulo}}" class="form-control" id="exampleInputEmail1">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">Cuerpo</label>
                        <p> <small>Incluye toda la información que alguien necesitaría para responder tu pregunta</small></p>
                            <textarea class="form-control" name="descripcion" id="exampleFormControlTextarea1" rows="3">{{r.descripcion}}</textarea>
                        </div>
                        <div class="form-group">
                        <label for="exampleFormControlFile1">Incluye una imagen para ser más especifico en tu pregunta {{r.imagen}}</label>
                        <input type="file" class="form-control-file"  value ="{{r.imagen}}" name="imagen" id="exampleFormControlFile1">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Etiquetas</label>
                        <p><small>Añade 1 etiquetas para describir sobre qué trata tu pregunta</small></p> 
                            <input type="text" name="categoria" value="{{r.categoria}}" class="form-control" id="exampleInputEmail1">
                        </div>

                        
                    <button type="submit" class="btn btn-primary" id="publicar">Publicar</button>
                    </form>


            </div>
    </div>
    </div>
</div>