
 <form action="/stack/subirimg"  method="POST" enctype="multipart/form-data">
 <div class="form-group">
        <label for="exampleFormControlFile1">Incluye una imagen para ser más especifico en tu pregunta</label>
        <input type="file" class="form-control-file" name="imagen" id="exampleFormControlFile1">
         <button type="submit"> subirim</button>
         </div>
 </form>
