<div class="container-fluid">
  <div class="row" >
    <div class="col-12 col-md-12 col-lg-12">   
        <div class="card mt-4" id="tarjetaspreguntas">
          <div class="card-body" >
           <b> <h4 class="card-title text-center">{{resp.titulo}}</h4></b>
             <hr style="background-color: #efcc00">
            <p class="card-text">{{resp.descripcion}}</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          </div>
          <img src="/img/{{resp.imagen}}" class="card-img-bottom" alt="...">
           <li type="button" class="btn btn-info mt-2 ml-2">{{resp.categoria}}</li> <b><p class="text-right"> <img class="imagendef" src="/img/default.png"> {{resp.usuariop}}</p></b>
        </div>
    </div>
  </div>


<div class="card mt-4" id="respuestasusuarios">
   <h5>Respuestas <b>{{contar.contarespuestas}}</b></h5>
   {{#each r}}
  <div class="card-body" id="tarjetaspreguntas">
   <p >{{respuesta}}</p>
   <img src="/img/{{imagen}}"><br>
  <b><p class="text-right"> <img class="imagendef" src="/img/default.png"> {{usuarior}}</p></b> 
  </div>
  <form class="calificar-like" action="/Stack/like" method="POST" >
      <button type="button" class="fas fa-thumbs-up"></button>
  </form>
  
    
    <hr  style="background-color: #efcc00">
  {{/each}}

</div>

<div class="card-body" id="tarjetaspreguntas">
  
<form action="/Stack/responder" method="post"  enctype="multipart/form-data">
    <h3 class="">Escribe tú respuesta</h3>
    {{#if user}}
   
    <div class="form-group">
        <input type="file"  class="form-control-file" name="imagen" id="exampleFormControlFile1">
    </div>
    <div class="form-group">
    <textarea class="form-control" name="respuesta" id="exampleFormControlTextarea1" rows="3"></textarea>
    
    </div>
      
 <button type="submit" class="btn btn-primary" id="publicar">Publicar</button>
 
</form>


{{else}}
<div class="alert alert-danger" role="alert">
 Necesitas ingresar a tú cuenta para poder contestar las preguntas de los usuarios.
</div>
{{/if}}
</div>
</div>



